[submodule "gemini"]
	path = Dependences/gemini
	url = https://github.com/NyagekiFumenProject/gemini
[submodule "SvgToXaml"]
	path = Dependences/SvgToXaml
	url = https://github.com/NyagekiFumenProject/SvgToXaml
[submodule "Polyline2D.CSharp"]
	path = Dependences/Polyline2D.CSharp
	url = https://github.com/NyagekiFumenProject/Polyline2D.CSharp
[submodule "MigratableSerializer"]
	path = Dependences/MigratableSerializer
	url = https://github.com/MikiraSora/MigratableSerializer
[submodule "earcut.net"]
	path = Dependences/earcut.net
	url = https://github.com/NyagekiFumenProject/earcut.net