<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OngekiFumenEditor.Properties.DefaultWaveformSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting___复制" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OngekiFumenEditor.Properties.AudioSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OngekiFumenEditor.Properties.OptionGeneratorToolsSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OngekiFumenEditor.Properties.ProgramSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OngekiFumenEditor.Properties.LogSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OngekiFumenEditor.Properties.EditorGlobalSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OngekiFumenEditor.Properties.DefaultWaveformSettings>
            <setting name="ShowObjectPlaceLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWaveform" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimingLine" serializeAs="String">
                <value>True</value>
            </setting>
        </OngekiFumenEditor.Properties.DefaultWaveformSettings>
        <OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting___复制>
            <setting name="ShowObjectPlaceLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultWaveformShowWaveform" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultWaveformShowTimingLine" serializeAs="String">
                <value>True</value>
            </setting>
        </OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting___复制>
        <OngekiFumenEditor.Properties.AudioSetting>
            <setting name="SoundFolderPath" serializeAs="String">
                <value>.\Resources\sounds\</value>
            </setting>
            <setting name="AudioOutputType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AudioSampleRate" serializeAs="String">
                <value>48000</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableSoundMultiPlay" serializeAs="String">
                <value>True</value>
            </setting>
        </OngekiFumenEditor.Properties.AudioSetting>
        <OngekiFumenEditor.Properties.OptionGeneratorToolsSetting>
            <setting name="LastLoadedGameFolder" serializeAs="String">
                <value />
            </setting>
        </OngekiFumenEditor.Properties.OptionGeneratorToolsSetting>
        <OngekiFumenEditor.Properties.ProgramSetting>
            <setting name="DumpFileDirPath" serializeAs="String">
                <value>.\Dumps</value>
            </setting>
            <setting name="IsFullDump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNotifyUserCrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeProcessPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphicsCompatability" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputGraphicsLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphicsLogSynchronous" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableShowSplashScreenAfterBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMultiInstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstTimeOpenEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowSizePositionLastTime" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdaterCheckMasterBranchOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowConsoleWindowInGUIMode" serializeAs="String">
                <value>False</value>
            </setting>
        </OngekiFumenEditor.Properties.ProgramSetting>
        <OngekiFumenEditor.Properties.LogSetting>
            <setting name="LogFileDirPath" serializeAs="String">
                <value>.\Logs</value>
            </setting>
        </OngekiFumenEditor.Properties.LogSetting>
        <OngekiFumenEditor.Properties.EditorGlobalSetting>
            <setting name="AutoSaveTimeInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IsEnableAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UndoActionSavingLimit" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IsEnableUndoActionSavingLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JudgeLineOffsetY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DisableXGridMagneticDock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceMagneticDock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceTapHoldMagneticDockToLane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableTGridMagneticDock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XGridUnitSpace" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TGridUnitLength" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="BeatSplit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XGridDisplayMaxUnit" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="ForceXGridMagneticDock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerticalDisplayScale" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="DisplayTimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JudgeLineAlignBeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouseWheelLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowXOffsetScrollBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableXOffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdjustPastedObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParallelCountLimit" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="RecentOpenedListStr" serializeAs="String">
                <value />
            </setting>
            <setting name="RecoveryCurrentTimeAfterExecuteAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoopPlayTiming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnablePlaceObjectBeyondAudioDuration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayFieldForegroundColor" serializeAs="String">
                <value>-16777216</value>
            </setting>
            <setting name="PlayFieldBackgroundColor" serializeAs="String">
                <value>-16758145</value>
            </setting>
            <setting name="EnablePlayFieldDrawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableShowPlayerLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorHoldLeft" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorHoldCenter" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ColorHoldRight" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorHoldWallRight" serializeAs="String">
                <value>35, 4, 117</value>
            </setting>
            <setting name="ColorHoldWallLeft" serializeAs="String">
                <value>136, 3, 152</value>
            </setting>
            <setting name="LimitFPS" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RenderTargetOrderVisibleMap" serializeAs="String">
                <value />
            </setting>
        </OngekiFumenEditor.Properties.EditorGlobalSetting>
        <OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting>
            <setting name="ResampleSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaveformVecticalScale" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="DurationMsPerPixel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CurrentTimeXOffset" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EnableWaveformDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LimitFPS" serializeAs="String">
                <value>-1</value>
            </setting>
        </OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting>
    </userSettings>
</configuration>