<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting>
            <setting name="ResampleSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaveformVecticalScale" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="DurationMsPerPixel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CurrentTimeXOffset" serializeAs="String">
                <value>30</value>
            </setting>
        </OngekiFumenEditor.Properties.AudioPlayerToolViewerSetting>
    </userSettings>
</configuration>