name: Build Program

on:
  push:
  workflow_dispatch:
    inputs: 
      BuildBranch:
        description: 'The branch you want to build.' 
        required: true
        default: 'master'
      BuildConfiguration:
        description: 'The configuration for dotnet build.'
        required: true
        default: 'Release'
        type: choice
        options: 
          - Release
          - Debug
    
env:
  Configuration: ${{ github.event.inputs.BuildConfiguration || 'Release' }} 
  Branch: ${{ github.event.inputs.BuildBranch || github.ref_name }}

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Get current time
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
        format: YYYYMMDDHHMMSS
        utcOffset: "+08:00"
    - uses: benjlevesque/short-sha@v2.2
      id: short-sha
      with:
        length: 6
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ env.Branch }}
        submodules: recursive
    - name: Setup .NET10
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: 10.0.x
    - name: get-version-action
      id: project-version
      uses: euberdeveloper/ga-project-version@main
      with:
        path: .\OngekiFumenEditor\version.json
    - name: Restore dependencies
      run: dotnet restore
    - name: Publish OngekiFumenEditor
      run: dotnet publish .\OngekiFumenEditor\OngekiFumenEditor.csproj --no-restore -c ${{env.Configuration}} -o C:\ogkrEditorBuild\
    - name: Publish OngekiFumenEditor.CommandLine
      run: dotnet publish .\OngekiFumenEditor.CommandLine\OngekiFumenEditor.CommandLine.csproj --no-restore -c ${{env.Configuration}} -o C:\editorCmdBuild\
    - name: Combine CommandLine into OngekiFumenEditor
      run: xcopy "C:\editorCmdBuild\" "C:\ogkrEditorBuild\" /E /Y /I
    - name: Delete unused .xml files
      run: Remove-Item -Path "C:\ogkrEditorBuild\*.xml" -Force
    - name: Delete unused runtime subfolders
      shell: pwsh
      run: |
        $runtimePath = "C:\ogkrEditorBuild\runtimes"
        Get-ChildItem -Path $runtimePath -Directory | 
          Where-Object { $_.Name -ne "win-x64" } | 
          Remove-Item -Recurse -Force
    - uses: actions/upload-artifact@v4
      with:
        name: OngekiFumenEditor_${{env.GitBuildVersion}}_${{env.Branch}}_(GABuild${{ steps.current-time.outputs.formattedTime }}_${{ steps.short-sha.outputs.sha }}_${{env.Configuration}})
        path: C:\ogkrEditorBuild\
    
